* {
    
    box-sizing: border-box;
}

body {
    
    width: 100%;
    margin: 0;
    background-color: aquamarine;
}
nav{
    
    display: flex;
}

ul{
    
    
    list-style: none;
}


#logo {
    
font-family: Sen-Bold;
font-size: 37px;
color: #000000;
    
}

body{
    
    
}

#parent1 {
    
    width: 60%;
    margin: 0 auto;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 60px;
    margin-bottom: 0px;
  
    
    
}

#card1 {
    
    
    background-color: beige;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0px;
}

#headdog {
    
    width: 90%;
    min-width: 200px;
    margin-bottom: 0px;
    
    
}

#card2 {
    
    
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    
}


h1{
    
    font-family: Sen-Bold;
font-size: 50px;
color: #000000;
    
}

#check {
    
    font-family: Montserrat-Regular;
font-size: 23px;
color: #000000;
    
}

#topbutton {
    
    
    color: black;
    
}

#parent2 {
    
    display: grid;
    background-color: beige;
    grid-template-columns: 1fr;
    margin-top: 0px;
}

#card3 {
    
    background-color: burlywood;
    grid-column: 1/4;
    
}


