* {

    box-sizing: border-box;
}

img{
    
    display: block;
}

body {

    width: 100%;
    margin: 0;
    background-color: aquamarine;
}

nav {

    display: flex;
    justify-content: space-between;

}

ul {

    display: flex;

    list-style: none;
    padding: 0 20px;

}

.rightnav {

    font-family: Montserrat-Regular;
    font-size: 20px;
    color: #000000;
    list-style: none;

    padding: 0 20px;



}

#logo {

    font-family: Sen-Bold;
    font-size: 20px;
    color: #000000;

}



#parent1 {

    background-color: white;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    margin-bottom: 0px;


}

#card1 {


    background-color: white;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;


}

#headdog {

    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 100px;

}

#card2 {

    width: 100%;
    margin-bottom: 0px;
    background-color: white;
    grid-column: 2/3;
    margin-top: 60px;

}


h1 {

    font-family: Sen-Bold;
    font-size: 62px;
    color: #000000;

}

#check {

    font-family: Montserrat-Regular;
    font-size: 23px;
    color: #000000;

}

#topbutton {

    font-size: 250%
}



#section10 {

    margin: 0px;
    padding: 0px;
}

#card3 {

    background-color: #E4EBEE;
    margin-top: 0px;
    grid-column: 1/4;


}

h2 {

    font-family: Sen-Bold;
    font-size: 37px;
    color: #000000;
    text-align: center;
    margin: 0px;
    padding-top: 10px;
}

#aboutpara {

    font-family: Montserrat-Regular;
    font-size: 23px;
    color: #000000;
    text-align: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
}




#section2 {

    background-color: #ECECE4;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    margin-bottom: 0px;
}

#card4 {

    background-color: #ECECE4;
    grid-column: 1/2;
    margin-bottom: 0px;

    padding-top: 120px;


}

#vendtitle {

    font-family: Sen-Bold;
    font-size: 62px;
    color: #000000;

}

#vendorpara {

    font-family: Montserrat-Regular;
    font-size: 20px;
    color: #000000;
}


#card5 {

    background-color: yellow;
    grid-column: 2/3;
    background-color: #ECECE4;

}


#dash {

    width: 90%;
    min-width: 200px;
}

#section3 {

    background-color: blue;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    margin-bottom: 0px;
}

#card6 {

    background-color: white;

}

#up {

    width: 80%;
    padding-left: 60px;
    padding-top: 60px;
}

#faqtitle {

    font-family: Sen-Bold;
    font-size: 62px;
    color: #000000;
}

#faqpara {

    font-family: Montserrat-Regular;
    font-size: 20px;
    color: #000000;
}


@media screen and (max-width: 400px) {
    
    body {background-color: blue;}
    #parent1 {display: block;}
}


